EXPO_PUBLIC_API_BASE_URL=https://clarivoice-api-1032786255556.asia-south1.run.app
EXPO_PUBLIC_SOCKET_URL=https://clarivoice-api-1032786255556.asia-south1.run.app
EXPO_PUBLIC_APP_FLAVOR=user
EXPO_PUBLIC_APP_MODE=user
EXPO_PUBLIC_AGORA_CHAT_APP_KEY=
EXPO_PUBLIC_AUTH_DEBUG=false
EXPO_PUBLIC_AUTH_CLEAR_ON_STARTUP_ONCE=false
EXPO_PUBLIC_EXPO_PROJECT_ID=
